:root {
  --main-font: 'Assistant', sans-serif;
  --second-font: 'Playfair Display', serif;
}

:root {
  --color-btn: #FF9E53;
  --color-hover: #fa8e3b;
  --color-bg: #071cd4;
  --color-base: #ffffff;
  --font-color: #071C4D;
}

body {
  background-color: var(--color-base);
  color: #071c4d;
  font-family: var(--main-font);
}

.navbar-brand {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
}

.btn-login:hover {
  background-color: #173f9c;
  color: #fff;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

header {
  padding: 180px 0px 165px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  margin-top: -70px;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: var(--color-btn);
  color: #fff;
}

header .btn-get-started:hover {
  background-color: var(--color-btn);
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  padding-left: 40px;
  background-color: #fff;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #071c4d;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: var(--second-font);
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: var(--color-btn);
  color: #fff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #f77d21;
  color: #fff;
}

.section-network {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-network h2 {
  font-family: var(--second-font);
  font-weight: bold;
}

.section-network p {
  font-size: 18px;
}

.section-network img {
  max-width: 100%;
}

.section-testimonial-heading {
  padding-top: 50px;
  min-height: 506px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebfdfc));
  background: linear-gradient(#fff 0%, #ebfdfc 100%);
}

.section-testimonial-heading h2 {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .card-testimonial img {
  width: 180px;
  height: 180px;
}

.section-testimonial-content .btn-need-help {
  background-color: #d0d3d8;
  color: var(--color-base);
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #cac6c6;
  color: var(--color-base);
}

.section-testimonial-content .btn-get-started {
  background-color: var(--color-btn);
  color: var(--color-base);
}

.section-testimonial-content .btn-get-started:hover {
  background-color: var(--color-hover);
  color: var(--color-base);
}

.section-footer h5, .section-footer a {
  font-family: var(--font-color);
  font-weight: bolder;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: var(--font-color);
}
/*# sourceMappingURL=main.css.map */